@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Oswald:wght@200..700&display=swap');
@import "tailwindcss";

:root {
    --font-family-oswald: 'Oswald', sans-serif;
    --font-family-birthstone: 'Birthstone', sans-serif;
        
}
@layer utilities {
  .font-oswald { font-family: var(--font-family-oswald); }
  .font-birthstone { font-family: var(--font-family-birthstone); }
}

@keyframes pulse-heartbeat {
    0% {
        transform: scale(1);
    }
    14% {
        transform: scale(1.1);
    }
    28% {
        transform: scale(1);
    }
    42% {
        transform: scale(1.1);
    }
    70% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

.pulse-heartbeat {
    animation: pulse-heartbeat 1s infinite ease-in-out;
    transform-origin: center;
    will-change: transform;
}
