@import "tailwindcss";

@keyframes pulse-heartbeat {
    0% {
        transform: scale(1);
    }
    14% {
        transform: scale(1.1);
    }
    28% {
        transform: scale(1);
    }
    42% {
        transform: scale(1.1);
    }
    70% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

.pulse-heartbeat {
    animation: pulse-heartbeat 1s infinite ease-in-out;
    transform-origin: center;
    will-change: transform;
}
