@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Londrina+Solid:wght@100;300;400;900&family=Oswald:wght@200..700&display=swap');
@import "tailwindcss";

:root {
    --font-family-oswald: 'Oswald', sans-serif;
    --font-family-birthstone: 'Birthstone', sans-serif;
    --font-family-londrina-solid: 'Londrina Solid', sans-serif;        
}
@layer utilities {
    .font-oswald { font-family: var(--font-family-oswald); }
    .font-birthstone { font-family: var(--font-family-birthstone); }
    .font-londrina-solid { font-family: var(--font-family-londrina-solid); }
}

@keyframes fillBar {
    from {
        width: 0%;
    }
    to {
        width: var(--fill-to)
    }
}
.animate-fill {
    width: 0%;
    animation: fillBar 1.5s ease-out forwards;
}


@keyframes pulse-heartbeat {
    0% {
        transform: scale(1);
    }
    14% {
        transform: scale(1.1);
    }
    28% {
        transform: scale(1);
    }
    42% {
        transform: scale(1.1);
    }
    70% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

.pulse-heartbeat {
    animation: pulse-heartbeat 1s infinite ease-in-out;
    transform-origin: center;
    will-change: transform;
}

/* Project Images Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 8px;
}

/* Default Border Responsive */
.default-border {
    @apply border border-dashed border-red-500 transition-all duration-300 hover:border-2 md:hover:border-4 lg:hover:border-4 md:border-2 lg:border-2;
}